* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F3F3F3;
  color: #1B1B1B;
  font-family: 'Segoe UI Variable', 'Segoe UI', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #D5D5D5;
  border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
  background: #BDBDBD;
}
